.nav-item {
  padding: 1rem 1.5rem;
  margin: 4px 0;
  border-radius: 6px;
  display: flex;
  align-items: center;
  transition: all 0.25s linear;
  cursor: pointer;
  color: white;
}
.nav-item.selected {
  background-color: #1976d2;
  color: #ffffff;
}
.nav-item:hover:not(.nav-item.selected) {
  background-color: #494e53;
}
.nav-item-icon {
  margin-right: 2.2rem;
  width: 1rem;
  pointer-events: none;
}
.nav-item-text {
  pointer-events: none;
  font-weight: 400;
  line-height: 1.8;
}
