.modal-detail-moving-declaration {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s ease;
  z-index: 20;
}
.modal-detail-moving-declaration.is-show {
  opacity: 1;
  visibility: visible;
}
.modal-detail-moving-declaration-content {
  width: 100rem;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  border: 1px solid silver;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border-collapse: collapse;
  padding: 2rem;
}

.row-modal {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

@media screen and (max-width: 1023px) {
  .modal-detail-moving-declaration-content {
    width: 50rem;
    height: 50rem;
    overflow-y: scroll;
  }
  .row-modal {
    flex-direction: column;
  }
  .row-modal:first-child {
    flex-direction: row;
  }
  .year-of-birth-modal,
  .sex-modal,
  .email-modal,
  .phone-modal,
  .province-residence-modal,
  .district-residence-modal,
  .ward-residence-modal,
  .detail-address-residence-modal,
  .province-modal,
  .district-modal,
  .ward-modal,
  .detail-address-modal {
    width: 100%;
  }
}

@media screen and (max-width: 555px) {
  .modal-detail-moving-declaration-content {
    width: 30rem;
  }
}
