.MuiFormHelperText-root {
  font-size: 1.1rem !important;
}

/* responsive */
@media screen and (max-width: 880px) {
  .row {
    flex-direction: column;
  }
  .year-of-birth,
  .sex,
  .email,
  .phone,
  .province-residence,
  .district-residence,
  .ward-residence,
  .detail-address-residence,
  .province,
  .district,
  .ward,
  .detail-address,
  .date,
  .time {
    width: 100%;
  }
}
