.tbody {
  font-size: 1.4rem !important;
}
.tableContainer {
  margin-top: 15px;
}
.name {
  font-weight: bold !important;
  color: black !important ;
}
.status {
  font-weight: bold !important;
  color: white;
}
.center {
  text-align: center;
}
