.tbody {
  font-size: 1.2rem !important;
}
.tableContainer {
  margin-top: 15px;
}
.name {
  font-weight: bold !important;
  color: black !important ;
}
.status {
  font-weight: bold !important;
  color: white;
  padding: 3px 10px !important;
}
.center {
  text-align: center;
}
