.tbody {
  font-size: 1.2rem !important;
}
.tableContainer {
  border-radius: 8px !important;
  margin-top: 15px;
}
.name {
  font-weight: bold !important;
  color: black !important ;
}
.status {
  font-weight: bold !important;
  color: white;
  border-radius: 8px !important;
  padding: 3px 10px !important;
}
