.footer {
  font-size: 1.4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem 0;
  background-color: #ffffff;
  border-top: 1px solid silver;
  height: 5.8rem;
}

@media screen and (max-width: 500px) {
  .footer {
    font-size: 1rem;
  }
}
