.label-heading {
  display: inline-block;
  padding-bottom: 0.5rem;
  color: black;
  font-weight: 500;
  margin-bottom: 1.5rem;
  margin-top: 1rem;
  font-size: 1.4rem;
  border-bottom: 3px solid black;
}
