.moving-declaration-item {
  cursor: pointer;
  display: flex;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  border-radius: 1rem;
  padding: 1rem;
  margin: 2rem 0;
}
.declaration-left {
  padding: 1rem 2rem;
  background-color: #c7dffa;
  border-radius: inherit;
  text-align: center;
  pointer-events: none;
}
.declaration-day {
  font-size: 5rem;
  font-weight: 600;
  line-height: 1;
}
.declaration-right {
  pointer-events: none;
  margin-left: 2rem;
}
.declaration-name {
  display: flex;
  align-items: center;
  text-transform: uppercase;
  font-weight: 500;
}
.declaration-name-icon {
  color: #989aa5;
  width: 1.5rem;
  margin-right: 1rem;
}
.declaration-hour {
  display: flex;
  align-items: center;
}
.declaration-hour-icon {
  color: #989aa5;
  width: 1.5rem;
  margin-right: 1rem;
}

@media screen and (max-width: 412px) {
  .declaration-name-text {
    font-size: 1.3rem;
  }
}
