.nav {
  background-color: #343a40;
  color: #485976;
  width: 28rem;
  padding: 2rem;
  position: fixed;
  height: 100vh;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  z-index: 10;
  transition: all 0.25s linear;
}
.nav-header {
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  font-weight: bold;
  padding-bottom: 2.2rem;
  border-bottom: 1px solid silver;
  cursor: pointer;
}
.nav-text {
  color: #949192;
  font-size: 1.6rem;
}
.nav-logo {
  height: 5rem;
  object-fit: cover;
  margin-right: 1rem;
}
.nav-list {
  margin: 2rem 0;
}

/* responsive */
@media screen and (max-width: 1200px) {
  .nav {
    transform: translateX(calc(-100%));
  }
  .nav.is-show {
    transform: translateX(0);
  }
}
